<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>输入框控件</title>
    <link href="../lib/v2.css" rel="stylesheet" />
    <script data-main="../appsettings" src="../require.js" defer="defer" async></script>
</head>
<body>
    <div class="panel hidden">
        <div class="panel-title text-uppercase">
            input
        </div>
        <div class="panel-body">
            <input class="form-control" type="text">
            <input class="form-control" type="search">
            <input class="form-control" type="number">
            <input class="form-control" type="url">
            <input class="form-control" type="email">
            <input class="form-control" type="tel">
            <input class="form-control" type="password">
            <input class="form-control" type="time" disabled>
            <input class="form-control" type="date">
            <input class="form-control" type="datetime" readonly>
            <input class="form-control" type="datetime-local">
            <input type="radio">
            <input type="checkbox">
            <input type="range" />
            <input type="color" />
            <textarea class="form-control" name="" id="" cols="30" rows="10" disabled></textarea>
            <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</body>
</html>