<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../lib/v2.css" rel="stylesheet" />
    <script data-main="../appsettings" src="../require.js" defer="defer" async></script>
</head>
<body>
    <div class="panel">
        <div class="panel-title text-uppercase">
            input
        </div>
        <div class="panel-body">
            <input class="success" type="text">
            <input type="search">
            <input class="warning" type="number">
            <input type="url">
            <input class="danger" type="email">
            <input type="tel">
            <input type="password">
            <input type="time" disabled>
            <input type="date">
            <input type="datetime" readonly>
            <input type="datetime-local">
            <input type="radio">
            <input type="checkbox">
            <textarea name="" id="" cols="30" rows="10" disabled></textarea>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</body>
</html>