<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>选择器</title>
    <link href="../lib/v2.css" rel="stylesheet" />
    <script data-main="/scripts/main" data-url-args="!" src="/scripts/require.js" defer="defer" async></script>
</head>
<body>
    <div class="panel">
        <div class="panel-title text-uppercase">
            select
        </div>
        <div class="panel-body">
            <select class="form-control" disabled>
                <option value="1">废铁</option>
                <option value="2">青铜</option>
                <option value="3">白银</option>
                <option value="4">黄金</option>
                <option value="5">铂金</option>
                <option value="6">钻石</option>
                <option value="7">大师</option>
                <option value="8">王者</option>
            </select>
            <select class="form-control" id="my-select">
                <option value="1">废铁</option>
                <option value="2">青铜</option>
                <option value="3">白银</option>
                <option value="4">黄金</option>
                <option value="5">铂金</option>
                <option value="6">钻石</option>
                <option value="7">大师</option>
                <option value="8">王者</option>
            </select>
            <select class="form-control" multiple="multiple">
                <option value="1">废铁</option>
                <option value="2">青铜</option>
                <option value="3">白银</option>
                <option value="4">黄金</option>
                <option value="5">铂金</option>
                <option value="6">钻石</option>
                <option value="7">大师</option>
                <option value="8">王者</option>
            </select>
        </div>
    </div>
</body>
</html>